body {
  padding: 0px;
  background: #222;
}
section {
  padding: 60px 10px 0px 10px;
  min-height: 360px;
}

.navbar-header {
  background: #222;
}

section,
section a {
  color:#eee;
  text-decoration:none;
}

section {
  background:rgba(34,34,34,0.2);
}
section {
  background:#222;
  color:#eee;
}
section small { color:#aaa; }


@media (min-width:768px) {
  body {
    margin:0px;
    padding-top:70px;
    background:#fff;
  }
  article {
    width:42%;
    min-width:320px;
    position:relative;
    padding-top:30px;
    padding-bottom:50%;
    z-index:21;
  }
  section {
    padding:40px;
    margin-left:40px;
    position:relative;
    transition:background 500ms, color 500ms;
    -moz-transition:background 500ms, color 500ms;
    -webkit-transition:background 500ms, color 500ms;
  }
  section,
  section a {
    color:#888;
    color:rgba(128,128,128,0);
    text-decoration:none;
    text-shadow:rgba(64,64,64,1) 0px 0px 4px;
  }
  section {
    background:rgba(34,34,34,0.2);
  }
  section.active {
    background:#222;
    color:#eee;
  }
  section.active a { color:#eee; }
  section.active small { color:#aaa; }

.scroll {
  position:absolute;
  right:0px; bottom:0px;
  font-size:10px;
  text-transform:uppercase;
  padding:5px 10px;
}
.colophon {
  display:block;
  margin-top:10px;
}

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:58%;
  z-index:20;
}

#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:250%;
  left:-150%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}

.spot {
  width:120px !important;
  height:120px !important;
  margin:-60px 0px 0px -60px;
  position:absolute;
}

.spot-cover { display:none; }
.spot-martine { display:none; }
.spot-martine.active { background:url(../img/marker-temp.png); }
.spot-soccer { display:none; }
.spot-soccer.active { background:url(../img/marker-temp.png); }
.spot-canaan { display:none; }
.spot-canaan.active { background:url(../img/marker-temp.png); }
.spot-mother { display:none; }
.spot-mother.active { background:url(../img/marker-temp.png); }
.spot-father { display:none; }
.spot-father.active { background:url(../img/marker-temp.png); }
.spot-soil { display:none; }
.spot-soil.active { background:url(../img/marker-temp.png); }
.spot-junior { display:none; }
.spot-junior.active { background:url(../img/marker-temp.png); }
.spot-dominique { display:none; }
.spot-dominique.active { background:url(../img/marker-temp.png); }
.spot-newborn { display:none; }
.spot-newborn.active { background:url(../img/marker-temp.png); }
.spot-landy { display:none; }
.spot-landy.active { background:url(../img/marker-temp.png); }
/*.spot-families { display:none; }
.spot-families.active { background:url(../img/marker-temp.png); }*/
.spot-haitianredcross { display:none; }
.spot-haitianredcross.active { background:url(../img/marker-temp.png); }
/*.spot-icrc-recovery-homohon { display:none; }
.spot-icrc-recovery-homohon.active { background:url(../img/marker-temp.png); }
.spot-icrc-recovery-random { display:none; }
.spot-icrc-recovery-random.active { background:url(../img/marker-temp.png); }
.spot-icrc-recovery-marabut { display:none; }
.spot-icrc-recovery-marabut.active { background:url(../img/marker-temp.png); }
.spot-icrc-recovery-basey { display:none; }
.spot-icrc-recovery-basey.active { background:url(../img/marker-temp.png); }
.spot-livelihoods { display:none; }
.spot-liporada { display:none; }
.spot-liporada.active { background:url(../img/marker-temp.png); }
.spot-martinez { display:none; }
.spot-martinez.active { background:url(../img/marker-temp.png); }
.spot-cabujoc { display:none; }
.spot-cabujoc.active { background:url(../img/marker-temp.png); }
.spot-coconutlady { display:none; }
.spot-coconutlady.active { background:url(../img/marker-temp.png); }
.spot-shelter { display:none; }
.spot-sheltergallery1 { display:none; }
.spot-sheltergallery1.active { background:url(../img/marker-temp.png); }
.spot-palawangallery { display:none; }
.spot-palawangallery.active { background:url(../img/marker-temp.png); }
.spot-films { display:none; }
.spot-manila { display:none; }
.spot-manila.active { background:url(../img/marker-prc.png); }
.spot-movement { display:none; }*/
.spot.active { display: block; } 

/* Distinguish the "cover page" visually other sections. */
body.section-0 #map { opacity:0.5; }
}

@media (min-width:1280px) {
  body {
    font-size:18px;
    line-height:24px;
  }
}

.leaflet-container{
  cursor: default;
}
.attribution {
  position: absolute;
  right:0;
  bottom:0;
  z-index: 9999;
  margin: 0 10px;  
  font-size: x-small;
  color: #78787d;
}
.attribution a {    
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70;
}

.logos {
  width: 100%;

}
.logos-img{
  margin: 0px auto 16px auto;
  border-radius: 5px;
  background: #ffffff;
}


.glyphicon-large {
  font-size: 20px;
  color: #ed1b2e;
}
.color-red {
  color: #ed1b2e;
}
.color-blue {
  color: #0091CD;
}
.color-green {
  color: #537B35;
}
.color-khaki {
  color: #E2D7AC;
}
.section-indent{
  margin-left: 16px;
}

.quickNav {
  position: absolute;
  top: 5px;
  left: 5px;
  visibility: hidden;

}

.btn-quickNav{
  background: #484848;
  background: transparent;
}

.quickNav .dropdown-menu {
  background: #484848;
  padding: 10px;

}
.quickNav .dropdown-menu a {
  text-shadow: none !important;
}

.active .quickNav {
  visibility: visible;
}

.modal-content-img {
  background: #000;
  border-radius: 0px;
}
.modal-80 {
  width: 80%;
}
.modal-body-img { 
   padding: 20px; 
}
.modal-img {
  margin-left: auto;
  margin-right: auto;
}
.modalLink {
  padding: 0px 12px 12px 12px;
  cursor: pointer;
}
.header-name {
  margin-top: 0px;
}
.modalLink-half {
  width: 49%;
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.modalLinkImg {
/*  border: 1px solid #222222;*/
  margin-left: auto;
  margin-right: auto;
}
.close-imgModal {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0.8;
  color: white;
  font-size: 26px;
}
.close-imgModal:hover{
  color:white;
}

.img-double-sm {
  max-width: 49%;
  vertical-align: baseline;
/*  border: 1px solid #2f2f2f;*/

}